[tool.poetry]
name = "poi"
version = "0.1.17"
description = "Write Excel XLSX declaratively."
authors = ["Ryan Wang <hwwangwang@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/baoshishu/poi"
repository = "https://github.com/baoshishu/poi"
documentation = "https://github.com/baoshishu/poi"



keywords = ["xlsx", "xlswriter", "excel", "declarative"]

classifiers = [
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.7"
xlsxwriter = "^1.1"


[tool.poetry.dev-dependencies]
pytest = "^3.0"
flake8 = "^3.6"
black = {version = "^19.3-b0",allows-prereleases = true}
mypy = "^0.720.0"



[tool.black]
target-version = ['py37']
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

