[tool.poetry]
name = "poi"
version = "1.0.0"
description = "Write Excel XLSX declaratively."
authors = ["Ryan Wang <hwwangwang@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/baoshishu/poi"
repository = "https://github.com/baoshishu/poi"
documentation = "https://baoshishu.github.io/poi/"



keywords = ["xlsx", "xlswriter", "excel", "declarative"]

classifiers = [
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]

[tool.poetry.dependencies]
python = "^3.7"
xlsxwriter = "^1.1"


[tool.poetry.dev-dependencies]
pytest = "^6.1.0"
flake8 = "^3.7.9"
mypy = "^1.1.1"
black = "^23.1.0"
typing_extensions = "^4.5.0"
mkdocs = "^1.4.2"
mkdocs-material = "^9.1.2"



[tool.black]
target-version = ['py38']
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

