[tool.poetry]
name = "poi"
version = "0.2.5"
description = "Write Excel XLSX declaratively."
authors = ["Ryan Wang <hwwangwang@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/baoshishu/poi"
repository = "https://github.com/baoshishu/poi"
documentation = "https://baoshishu.github.io/poi/"



keywords = ["xlsx", "xlswriter", "excel", "declarative"]

classifiers = [
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
]

[tool.poetry.dependencies]
python = "^3.7"
xlsxwriter = "^1.1"


[tool.poetry.dev-dependencies]
pytest = "^5.3.1"
flake8 = "^3.7.9"
mypy = "^0.782"
black = "^20.8b1"
typing_extensions = "^3.7.4"
mkdocs = "^1.1"
mkdocs-material = "^5.0.1"



[tool.black]
target-version = ['py38']
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

